﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "index", "Topics", null, new { id = "homes" })</li>
                        <li>@Html.ActionLink("Add Topic", "Create", "Topics", null, new { id = "add_topic" })</li>
                        <li>@Html.ActionLink("Comment", "index", "TopicComment", null, new { id = "add_topicComment" })</li>
                         
                        <li>@Html.ActionLink("Question", "CreateQuestion", "Question", null, new { id = "add_question" })</li>
                        <li>@Html.ActionLink("Add Topic Comment", "Create", "TopicComment", null, new { id = "add_topicComment" })</li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
