﻿@model TeckTalkTimeTable.Models.Topics

<div id="dynamic_content">
@using (Html.BeginForm("Create", "Topics", FormMethod.Post, new {id="datss", @data_ttt_ajax="true" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Topics</legend>     

        <div class="editor-label">
            @Html.LabelFor(model => model.topic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.topic)
            @Html.ValidationMessageFor(model => model.topic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <p>
            <input type="submit" value="Create"  />
        </p>
    </fieldset>
}
</div>
<script>
    $(function () {

        var ajaxFormSubmit = function () {
            var $form = $(this);

            var options = {
                url: $form.attr("action"),
                type: $form.attr("method"),
                data: $form.serialize()
            };

            $.ajax(options).done(function (data) {
                var $target = $("#dynamic_content");
                var $newHtml = $(data);
                $target.replaceWith($newHtml);
                
            });

            return false;
        };    

        $("form").submit(ajaxFormSubmit);

    });
</script>