﻿@model TeckTalkTimeTable.Models.Topics

@using (Html.BeginForm("Edit", "Topics", FormMethod.Post, new { id = "datss", @data_ttt_ajax = "true" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Topics</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.userID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userID)
            @Html.ValidationMessageFor(model => model.userID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.topic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.topic)
            @Html.ValidationMessageFor(model => model.topic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date)
            @Html.ValidationMessageFor(model => model.date)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<script>
    $(function () {

        var ajaxFormSubmit = function () {
            var $form = $(this);

            var options = {
                url: $form.attr("action"),
                type: $form.attr("method"),
                data: $form.serialize()
            };

            $.ajax(options).done(function (data) {
                var $target = $("#dynamic_content");
                var $newHtml = $(data);
                $target.replaceWith($newHtml);
                
            });

            return false;
        };    

        $("form").submit(ajaxFormSubmit);

    });
</script>


