﻿@model IEnumerable<TeckTalkTimeTable.Models.UserProfile>

<div id="dynamic_content">

    <table>
        <tr>
            <th>User
            </th>
            <th>Topic
            </th>
            <th>Date
            </th>
            <th></th>
        </tr>
        @foreach (var topics in Model)
        {
            foreach (var item in topics.topics)
            {
<tr>
        <td>
            @Html.DisplayFor(modelItem => topics.UserName)
                </td>
        <td>
            @Html.DisplayFor(modelItem => item.topic)
                </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
                </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { id = "edit_topic" }) |
           @* @Html.ActionLink("Details", "Details", new { id=item.id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { id = "delete_topic" })
            </td>
    </tr>
            }
        }
    </table>
</div>
