﻿@model TeckTalkTimeTable.Models.Question

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("CreateQuestion", "Question", FormMethod.Post, new { id = "datss", @data_ttt_ajax = "true" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Question</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Catogary)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Catogary,(SelectList)ViewBag.CategoryList)
            @Html.ValidationMessageFor(model => model.Catogary)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionTitle)
            @Html.ValidationMessageFor(model => model.QuestionTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionToAsk)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionToAsk)
            @Html.ValidationMessageFor(model => model.QuestionToAsk)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoOfLikesforTheQuestion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoOfLikesforTheQuestion)
            @Html.ValidationMessageFor(model => model.NoOfLikesforTheQuestion)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<script>
    $(function () {

        var ajaxFormSubmit = function () {
            var $form = $(this);

            var options = {
                url: $form.attr("action"),
                type: $form.attr("method"),
                data: $form.serialize()
            };

            $.ajax(options).done(function (data) {
                var $target = $("#dynamic_content");
                var $newHtml = $(data);
                $target.replaceWith($newHtml);
               
            });

            return false;
        };    

        $("form").submit(ajaxFormSubmit);

    });
</script>


