﻿@model IEnumerable<TeckTalkTimeTable.Models.Question>

<div id="dynamic_content">

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Catogary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionToAsk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfLikesforTheQuestion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Catogary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionToAsk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfLikesforTheQuestion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.QuestionID }, new { id="edit_question" }) |
             @Html.ActionLink("Delete", "Delete", new { id=item.QuestionID }, new { id="delete_question" })
        </td>
    </tr>
}

</table>
    </div>