﻿@model TeckTalkTimeTable.Models.TopicComment


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="dynamic_content">

@using (Html.BeginForm("Edit", "TopicComment", "POST"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Topic Comment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.topicId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.topicId)
            @Html.ValidationMessageFor(model => model.topicId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.topicComment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.topicComment)
            @Html.ValidationMessageFor(model => model.topicComment)
        </div>

        <p>
            <input type="submit" value="Edit"  />
        </p>
    </fieldset>
}

</div>