﻿@model IEnumerable<TeckTalkTimeTable.Models.TopicComment>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
            @Html.ActionLink("Create New", "Create")

</div>

<div>
    <table> 
        <tr> 
            <td>
                Item ID
            </td>
            <td>
                User ID
            </td>
            <td>
                Topic ID
            </td>
            <td>
                Topic Comment
            </td>

        </tr>
   @foreach (var item in Model)
{
       <tr> 
           <td>@item.id</td>
           <td>@item.UserID</td>
           <td>@item.topicId</td>
           <td>@item.topicComment</td>
           <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { id="edit_comment" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { id="Delete_comment"})
           </td>
           </tr>
}
        </table>
</div>
