﻿@{
    ViewBag.Title = "Home Page";
}

@Html.Action("Index", "Topics", null)

<script>
    function Check() {
        alert('test');
    }
    
    function Check() {
        alert('tes234t');
    }
</script>
<input type="button" onclick="Check();" value="Check Value"/>
  